extends ../main

block title
	| Доктор Арбатов

block content
	article.content-wrapper
		include ../_common/_blocks/_promo
		include ../_common/_blocks/_quote
		include ../_common/_blocks/_last-work
		include ../_common/_blocks/_news
		include ../_common/_blocks/_video
		include ../_common/_blocks/_popular
		include ../_common/_blocks/_instagram
		include ../_common/_blocks/_reviews