-var pages = ['Главная','Результаты операций','Фоторепортажи','Отзывы','Консультации онлайн','Статьи','Видео','Блог','Фото','О докторе','Контакты']
nav.nav
	ul.nav__list
		each page in pages
			li.nav__item
				a(href="#" title="#{page}").nav__link= page