blockquote.quote
	p 
		| Для меня - это бесценный опыт общения через персональный сайт, оно доставляет истинное наслаждение (как и моя профессия) и каждый раз, когда я нахожусь у операционного cтола или что-либо пишу (будь то ответ на вопрос пациентки или статью) эндорфины волнами впрыскиваются мне в кровь  и меня 
		| омывают потоки чистой и трепетной радости, так что добро пожаловать на мой персональный интерактивный генератор профессиональных идей (сайт).
		| Надеюсь Вам со мной будет не скучно.
	a(href="#").quote__link Читать далее
