-var reviews = [{'name':'Александра К.','video':'CRT39ITMANs'},{'name':'Алина Т.','text':'17.01.2015 мне сделал ринопластику Арбатов В.В. в Московском СПИКе. И хотя еще рано говорить о конечном результате, т.к. сегодня только 9ый день, но то, что я вижу сегодня - прекрасно !) Мне убрали горбинку, сузили кончик носа и немного приподняли. Относительно консультации - вопросов у меня было немного. Мне даже ничего и спрашивать не хотелось, после того, как я, не успев сказать, что хочу делать ринопластику, тут же услышала: "у вас небольшая горбинка, ее убираем, кончик сужаем...в результате -... прямой нос с акцентом на кончике". Сразу предложил посмотреть фото его работ с носиками, которые мне подойдут (прямые с...','more':'true'},{'name':'Тимур К.','video':'CRT39ITMANs'},{'name':'Алёна Н.','text':'Я у доктора Арбатова оперировалась, делали мне красивый и аккуратный носик. То, чем наградила меня природа… было не очень то симпатично, особенно для молодой девушки. Клиникой довольна, очень приятно у них все, работа организована четко, не было такого, чтобы я где-то что-то ждала специально. Работает как часы все, это приятно – когда твое время ценят, так еще и красоту творят такую, как хочется! Спасибо!'},{'name':'Анастасия Б.','video':'CRT39ITMANs'},{'name':'Светлана Е.','text':'Хочу выразить огромную признаетльность своему пластику - Вячеславу Витальевичу! Я сделала ринопластику в декабре и очень этому рада: сузила кончик носа и убрала небольшую горбинку. Получился идеальный носик для моего лица! Обращение со мной было как с членом из королевской семьи! И Вячеслав Витальевич, и медсетсры, и администраторы "носились" со мной. Очень приятно! И что-то я не заметила того "потока-конвеера" о котором предыдущий отзыв. Ересь какая-то! Даже на каникулах всем хватило места :) Я очень довольна своим результатом и своим врачом! Еще раз БОЛЬШОЕ СПАСИБО! Вы - лучший!!!'}] 

.reviews
	.reviews__holder
		h2.reviews__title Отзывы
		.reviews__list-holder
		.reviews__list
			each review in reviews
				div(class="reviews__item" + ((review.video) ? " reviews__item_video" : ""))
					-if(review.video)
						.reviews__video-holder
							iframe( width="auto" height="auto"  src="https://www.youtube.com/embed/#{review.video}?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen)
					-if(review.text)
						article.reviews__text= review.text
							-if(review.more)
								.reviews__item-link-holder
									a(href="#").reviews__item-link Читать далее
					a(href="#").reviews__name= review.name 
			a(href="#").reviews__more-link Все отзывы >>
		.reviews__vk
			img(src="../images/content-image/vk.png", alt="")
