.sub-form
	h3.sub-form__title Форма для подписки
	h4.sub-form__text Будьте в курсе самых последних  новостей мира пластики
	form.sub-form__form
		.sub-form__form-row.sub-form__form-row-name
			input(placeholder="Ваше имя" type="text").sub-form__input.sub-form__input
		.sub-form__form-row.sub-form__form-row-email
			input(placeholder="Ваш e-mail" type="email").sub-form__input.sub-form__email
		.sub-form__form-row.sub-form__form-row-button
			input(value="ПОДПИСАТЬСЯ" type="submit").sub-form__input.sub-form__button


